# PreLecture HW

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
import pandas as pd

# Load the dataset from the provided link
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
villagers_df = pd.read_csv(url)

# Get the columns of the dataset and the number of rows (data points)
columns = villagers_df.columns
num_rows = villagers_df.shape[0]

columns, num_rows

(Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
        'song', 'phrase', 'full_id', 'url'],
       dtype='object'),
 391)

# 2.2 Instruciton:

In [ ]:
"""
Based on my summary of the explanation from chatGPT, the observation term means the individual villager (each of 
the villager).For the variables, they give the identity and characteristics that the villager have like name, 
gender, species, birthday, etc.Therfore, in my opinion, this dataset is giving data about villagers and 
information for their identity and characteristics.
"""

In [24]:
# Simple summary of the dataset
def simple_summary(df):
    print("Dataset Information:")
    print(df.info())  # Basic info about data types and non-null values
    
    print("\nSummary Statistics for Numeric Columns:")
    print(df.describe())  # Summary statistics for numerical columns
    
    print("\nPreview of First 5 Rows:")
    print(df.head())  # Preview the first 5 rows
    
    print("\nUnique values and their counts")
    # Loop through each column and print unique values and their counts
    for column in villagers_df.columns:
        print(f"Column: {column}")
        print(villagers_df[column].value_counts())
        print("\n")
        
    print("\nResult of df.shape")
    print(df.shape)

# Use the function for the villagers dataset
simple_summary(villagers_df)

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB
None

Summary Statistics for Numeric Columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Preview of First 5 Rows:
   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

Unique values and their counts
Column: row_n
row_n
2      1
303    1
331    1
330    1
328    1
      ..
151    1
150    1
149    1
148    1
483    1
Name: count, Length: 391, dtype: int64


Column: id
id
admiral    1
mott       1
paula      1
patty      1
pate       1
          ..
eloise     1
elmer      1
ellie      1
elise      1
zucker     1
Name: count, Length: 390, dtype: int64


Column: name
name
Admiral    1
Muffy      1
Paula      1
Patty      1
Pate       1
          ..
Elvis      1
Eloise     1
Elmer      1
Ellie      1
Zucker     1
Name: count, Length: 391, dtype: int64


Column: gender
gender
male      204
female    187
Name: count, dtype: int64


Column: species
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64


Column: birthday
birthday
1-27     2
12-5     2
7-31     2
3-26     2
8-3      2
        ..
4-3      1
10-26    1
7-23     1
12-8     1
3-8      1
Name: count, Length: 361, dtype: int64


Column: personality
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64


Column: song
song
K.K. Country     10
Forest Life       9
Imperial K.K.     7
K.K. Soul         7
K.K. Ragtime      7
                 ..
Aloha K.K.        2
Drivin'           1
Senor K.K.        1
K.K.  Bazaar      1
K.K. D&B          1
Name: count, Length: 92, dtype: int64


Column: phrase
phrase
wee one       2
quacko        2
bloop         2
aye aye       1
snoot         1
             ..
lambchop      1
yeah buddy    1
chow down     1
unh-hunh      1
pronk         1
Name: count, Length: 388, dtype: int64


Column: full_id
full_id
villager-admiral    1
villager-muffy      1
villager-paula      1
villager-patty      1
villager-pate       1
                   ..
villager-elvis      1
villager-eloise     1
villager-elmer      1
villager-ellie      1
villager-zucker     1
Name: count, Length: 391, dtype: int64


Column: url
url
https://villagerdb.com/images/villagers/thumb/admiral.98206ee.png    1
https://villagerdb.com/images/villagers/thumb/muffy.1497c92.png      1
https://villagerdb.com/images/villagers/thumb/paula.563ba81.png      1
https://villagerdb.com/images/villagers/thumb/patty.3e17f7f.png      1
https://villagerdb.com/images/villagers/thumb/pate.c60838c.png       1
                                                                    ..
https://villagerdb.com/images/villagers/thumb/elvis.57d4757.png      1
https://villagerdb.com/images/villagers/thumb/eloise.112208b.png     1
https://villagerdb.com/images/villagers/thumb/elmer.cc7df52.png      1
https://villagerdb.com/images/villagers/thumb/ellie.5a144a6.png      1
https://villagerdb.com/images/villagers/thumb/zucker.8dbb719.png     1
Name: count, Length: 391, dtype: int64



Result of df.shape
(391, 11)

# Before Instruction 4

In [ ]:
"""
I am going to change my dataset to https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
It's because the village.csv only has one numeric variable
"""

In [19]:
import pandas as pd

# Load the Titanic dataset from the new URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(url)

# Get the columns of the dataset and the number of rows (data points)
columns = titanic_df.columns
num_rows = titanic_df.shape[0]

print("Columns in the dataset:", columns)
print("Number of rows in the dataset:", num_rows)

Columns in the dataset: Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
Number of rows in the dataset: 891

In [22]:
# Simple summary of the Titanic dataset
def simple_summary(df):
    print("Dataset Information:")
    print(df.info())  # Basic info about data types and non-null values
    
    print("\nSummary Statistics for Numeric Columns:")
    print(df.describe())  # Summary statistics for numerical columns
    
    print("\nPreview of First 5 Rows:")
    print(df.head())  # Preview the first 5 rows
    
    print("\nResult of df.shape")
    print(df.shape)

# Use the function for the Titanic dataset
simple_summary(titanic_df)

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None

Summary Statistics for Numeric Columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Preview of First 5 Rows:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Result of df.shape
(891, 15)

# Instruction 4

In [ ]:
'''
The df.shape only gives us the dimension of the DataFrame which is rows and columns. In this case, 
It's showing that the data set has 891 rows and 15 columns from the df.shape method. 
However, for df.describe(). It provides the numeric columns by default. This function give statistics like mean,
stantard deviation, minimum, maximum, and values. 

The reason why there is disrepencies between df.shape and df.describe is non numeric columns will not be included
in the output unless you specify (include all). Furthermore, df.describe() only shows the number of non missing 
values for each numeric columns. In this case, the missing values are not counted where it makes there are differences
between df.describe() and df.shape (which only calculate the rows and columns in DataFrame)
'''

# Instruction 5

In [ ]:

"""
Attribute which doesn't use "()" like df.shape is used for stores and retrieves information about an object.
Because it's not function, it's return information that is already stored.

On the other hand, method which use "()" like df.describe() is function that object can perform in python.
It performs an action or computation on an object(which is the data).
"""

# Summary

In [ ]:
"""
Here's a summary of our current chat session:

Dataset Switch: You switched from working on the "villagers.csv" dataset to the "Titanic" dataset from the URL: "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv."

Initial Analysis: I provided Python code to:

Load the Titanic dataset.
Display its columns and row count.
Simple Summary: I guided you to create a basic summary of the Titanic dataset using the info(), describe(), and head() methods to understand its structure, statistics, and preview the first 5 rows.

Attributes vs Methods Explanation: I explained the difference between an attribute (e.g., df.shape) and a method (e.g., df.describe()), focusing on how attributes retrieve stored information while methods perform actions or computations.

This summary highlights key topics and codes discussed during this session!
"""

#Chat log histories:
#https://chatgpt.com/share/41b1b4d2-82d7-43d0-a198-03d4ba307a50

# PostLecture HW

# Instruction 6

In [ ]:
"""
There are 8 variables that given by the summary from df.describe() method, which are:

1. Count: It's the number counted of non-null (non-missing) values for each non numeric columns as I said before in instruction 4. It tells you how many valid observations there are.
2. Mean: The same as in math. It's the average value of the data, calculated by summing all values and dividing by the number of observations (count).
3. Standard Deviation (std): It's also used in mathematics that has a purpose to measure the amount of variation or dispersion of a set of values. It shows how much individual data points typically deviate from the mean. A higher standard deviation means more spread out data.
4. Minimum (min): The smallest value in the data for each variable or column.
5. 25% (First Quartile): The value below which 25% of the data falls. This is also known as the first quartile (Q1).
6. 50% (Median or Second Quartile): The middle value of the data. This is the point at which half of the data values are less and half are greater. This is also referred to as the second quartile (Q2) or the median.
7. 75% (Third Quartile): The value below which 75% of the data falls. This is also known as the third quartile (Q3).
8. Maximum (max): The largest value in the data for each variable.

Those things are actually being studied in mathematics/statistics in high school(IB, AP, A level) or college.
"""

# Instruction 7

In [ ]:
"""
There are 4 instructions:

1)Provide an example of a "use case" in which using df.dropna() might be peferred over using del df['col'] df.dropna() is preferred when you want to remove rows (or columns) that contain missing values, but still want to preserve other columns. 
- df.dropna() is preferred when you want to remove rows (or columns) that contain missing values, but still want to preserve other columns. 
- In this case, you have a dataset with missing values in various rows and want to remove all rows with any missing data. For my dataset: Imagine you are analyzing passengers from the Titanic dataset and want to remove rows where any column (like age, fare, etc.) has missing values.

2)Provide an example of "the opposite use case" in which using del df['col'] might be preferred over using df.dropna()
- del df['col'] is preferred when you want to delete an entire column, regardless of whether it has missing values or not. For example, You have a dataset with a column that isn't useful for your analysis, such as an ID column, and you want to remove it. For my dataset the example is: Imagine you are analyzing the Titanic dataset but don’t need the "Cabin" column because it's not relevant to your analysis, so you delete it.

3)Discuss why applying del df['col'] before df.dropna() when both are used together could be important
- The reason is if you delete columns that are unnecessary before using df.dropna(), you avoid accidentally dropping rows due to missing values in those columns.
- In this case, deleting irrelevant columns first reduces the risk of unnecessarily discarding rows with valuable information in the columns that matter.
- Example: If you want to drop rows with missing values, but there's a column like "Cabin" with many missing values that you don't need for analysis, using del df['Cabin'] first would prevent losing many rows due to missing "Cabin" values when you run df.dropna() later.

4)Remove all missing data from one of the datasets you're considering using some combination of del df['col'] and/or df.dropna() and give a justification for your approach, including a "before and after" report of the results of your approach for your dataset.
- I did it in python and the code is below. 

- Justification:
    1. I removed the "Cabin" column using del because it has many missing values and is not important for the analysis.
    2. I then used df.dropna() to remove rows with missing data in the remaining columns, ensuring that our final dataset has complete information.

- Before and After Report:
    1. Before cleaning, we will see the number of missing values in various columns like "Age" and "Embarked."
    2. After cleaning, there should be no missing values, and the dataset will be reduced in size, keeping only rows with complete data.

"""

In [12]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

# Display initial information about missing data
print("Missing data before cleaning:")
print(df.isnull().sum())

# Drop a column with a significant amount of missing values (e.g., 'deck')
print("\nColumn 'Deck' Deleted")
del df['deck']

# Remove rows with any remaining missing data
df_cleaned = df.dropna()

# Display cleaned dataset information
print("\nMissing data after cleaning:")
print(df_cleaned.isnull().sum())

# Print the first few rows of the cleaned dataset
print("\nCleaned dataset:")
print(df_cleaned.head())

Missing data before cleaning:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Column 'Deck' Deleted

Missing data after cleaning:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

Cleaned dataset:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male  embark_town alive  alone
0    man        True  Southampton    no  False
1  woman       False    Cherbourg   yes  False
2  woman       False  Southampton   yes   True
3  woman       False  Southampton   yes  False
4    man        True  Southampton    no   True

# Instruction 8

In [ ]:
"""
There are 3 task:
1) Use your ChatBot session to understand what df.groupby("col1")["col2"].describe() does and then demonstrate and explain this using a different example from the "titanic" data set other than what the ChatBot automatically provide for you
"""

In [12]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')

grouped_stats = df.groupby(alive)["age"].describe()
print(grouped_stats)

NameError: name 'alive' is not defined

In [ ]:
"""
For this task, I used the template on chatGPT but changed the data from 'gender' to 'alive'. 
df.groupby("col1")["col2"].describe() is used if we are going to find the summary statistic with the values of col2 within each group of col2.

In the code above, it provides statistic about the value of col2 which is 'age' distributed across different groups in col1 which is 'alive'. In this case, it shows statistic like mean, min, max, quartils about the age of people who come back alive and not. I use age as it's has numeric values.
"""

In [ ]:
#2) Assuming you've not yet removed missing values in the manner of question "7" above, df.describe() would have different values in the count value for different data columns depending on the missingness present in the original data. Why do these capture something fundamentally different from the values in the count that result from doing something like df.groupby("col1")["col2"].describe()?

In [ ]:
"""
From my chat gpt log, I can explain that:
df.describe() looks at each column independently. It gives summary statistics and counting non-missing data for each column in isolation. The count is different for each column based on the amount of missing data in that specific column.

df.groupby("col1")["col2"].describe() groups the data by col1 and provides summary statistics for col2 within each group. The count in this case captures how many non-missing values of col2 are available within each group of col1, showing the distribution of missingness and data completeness across the grouping categories.

In df.describe(), the count for each column reflects the total number of non-missing values for that column across the entire dataset. In contrast, df.groupby("col1")["col2"].describe() gives the count of non-missing "col2" values within each group of "col1", providing insights into how missingness or data availability varies within specific subgroups rather than across the whole dataset.
"""

In [ ]:
#3) Intentionally introduce the following errors into your code and report your opinion as to whether it's easier to (a) work in a ChatBot session to fix the errors, or (b) use google to search for and fix errors: first share the errors you get in the ChatBot session and see if you can work with ChatBot to troubleshoot and fix the coding errors, and then see if you think a google search for the error provides the necessary toubleshooting help more quickly than ChatGPT

In [ ]:
"""
A. Forget to include import pandas as pd in your code
I tried it and the output is complex but the main output is: The"NameError: name 'pd' is not defined" 

#I tried to search in Google the first outcome is answer in overflow platform. I opened it but it did answer the 
question but it's really complex, and i have to find the answer with most likes. Then, I go back, and I find people
also asks collumn and said that you have to inlcude import pandas as pd which is the answer i want

#For ChatGPT, the answer is precise and fast. It's directly answer my question which is I have to include import 
pandas.

Conclusion for A: I think ChatGPT is easier and simpler.
"""

In [ ]:
"""
B. Mistype "titanic.csv" as "titanics.csv"

I tried with titans.csv and the output is: FileNotFoundError: [Errno 2] No such file or directory: 'titans.csv'

#By googling this time, I got the answer pretty fast and precise. The answer is "The above error shows that you 
did not place the csv file in the same directory where the code file has been placed" which means that I didn't place
the csv file in the same directory or it also means that I direct it mistakenly. 

#For ChatGPT, the answer is pretty the same with before. It's fast, precise, and details. It give reccomendation and
even give me the Python code I should put. 

Conclusion For B: Google is really good and efficient at this time. However, ChatGPT give recomendations that 
really useful and make it easier. We can also asks for explanation if we don't understand about the method in the function.
"""

In [ ]:
"""
C. Try to use a dataframe before it's been assigned into the variable

I tried by changing the df.groupby("col1")["col2"].describe() to be dF.groupby("col1")["col2"].describe(), then 
The result is: "NameError: name 'dF' is not defined"

#Same as the B one, Google can give quick answer for this question. It's said"To avoid the NameError , 
you need to make sure that your DataFrame df is declared before it's accessed"

#For ChatGPT, the answer is clear, it said that I have a typo which is I should use df not dF. Furthermore it gave
the correct code.

Conclusion For C: Google is giving the right answer. However, ChatGPT give all explanations that are
really useful and make me understand. It also gave us the correct codes
"""

In [ ]:
"""
D. Forget one of the parentheses somewhere the code

I tried with forget the first parenthese: df = pd.read_csv'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')
The result is: SyntaxError: unmatched ')'

#Google doesn't has a really good answer this time, I have to scroll down and look for website like reddit and etc.
In this case, it's not giving precise answer like before.

#For ChatGPT, the answer is still realy nice. It said that: The SyntaxError: unmatched ')' occurs when 
there is an extra or missing closing parenthesis in your code. In this case, it's giving the correct answer for the
error that I have.

Conclusion For D: Compared to Google, also this time, Chat GPT has much better answer. It gave explanations and also the
correct code. On the other hand, Google isn't that good, I need to find the answer from websites given after googling.
"""

In [ ]:
"""
E. Mistype one of the names of the chained functions with the code
I tried it by changing describe to besribe: grouped_stats = df.groupby("alive")["age"].bescribe()
The result is: "AttributeError: 'SeriesGroupBy' object has no attribute 'bescribe'"

#I got a good answer from google which pretty fast and precise for this error. The answer is "Ensure that the attribute name 
is spelled correctly.

#Same as before for chatGPT. It's fast, precise, and details. It give answer: Ensure you're using the correct method name: describe() (not bescribe). 
. It gave reccomendation and even gave me the Python code I should have put. 

Conclusion For E: Google is excellent and efficient at this time. However, ChatGPT give the best answer with
explanations, recomendations, and codes that really useful and make it easier. 
"""

In [ ]:
"""
F. Use a column name that's not in your data for the groupby and column selection

I tried by changing 'alive' to 'Alive', the errors shown after I run it is really long but overall it says
"KeyError: 'Alive'"

#By googling, I found a lot of good answers. Although it's not details, it's stated that I called the false key or
key that's not exist for the code

#In ChatGPT, it's fast, precise, and details. It said "The KeyError: 'Alive' means that the column 'Alive' does 
not exist in your DataFrame." Same as before, it also gave the correct answer for this question.

Conclusion For F: Google is pretty good, quick, and precise. However, ChatGPT still win as it give the explanation and
the right code that really useful and make it easier.
"""

In [ ]:
"""
G. Forget to put the column name as a string in quotes for the groupby and column selection, 
and see if the ChatBot and google are still as helpful as they were for the previous question

I tried with by using: grouped_stats = df.groupby(alive)["age"].describe()
Error given: NameError: name 'alive' is not defined

#Google didn't give the exact answer for it. It only says that the problem is that I don't have the variable named
alive. Even if I try to put my code on it, it's going to useless except I put it in reddit or github. It gave answer
but not the exact one.

#For ChatGPT, 
The answer is same as always. It gave precise, exact, and details answers with explanation and the correct answer
It said that "The error NameError: name 'alive' is not defined occurs because 'alive' is being used without quotes. 
If you're trying to reference a column name, it must be enclosed in quotes to be recognized as a string."

Conclusion For G: Googling is pretty bad this time, although it still gave answer. This time, ChatGPT really helpful
compared to googling. As google didn't give answer, ChatGPT did with explanation, reccomendation, and the correct code.
"""

# Instruction 9
Have you reviewed the course wiki-textbook and interacted with a ChatBot (or, if that wasn't sufficient, real people in the course piazza discussion board or TA office hours) to help you understand all the material in the tutorial and lecture that you didn't quite follow when you first saw it?

Yes, already reviewed the course wiki-textbook. I did it, but have not reviewed everything yet.b

In [13]:
#Summary for Post Lecture HW from ChatGPT


1. **Summary Statistics Definitions**: Provided definitions for `df.describe()` summary statistics including count, mean, std, min, 25%, 50%, 75%, and max.

2. **Data Cleaning**:
   - Provided code to remove missing data using `del df['col']` and `df.dropna()`.
   - Demonstrated how to clean the Titanic dataset by removing a column with many missing values and dropping rows with any missing data.

3. **Code Explanation**:
   - Explained what `df.groupby("col1")["col2"].describe()` does, including grouping by a column and describing statistics for another column within each group.
   - Clarified the difference between `df.describe()` and `df.groupby("col1")["col2"].describe()` in terms of how they handle missing values and provide counts.

4. **Errors and Troubleshooting**:
   - **NameError**: Resolved the issue related to `pd` not being defined by suggesting to ensure `import pandas as pd`.
   - **FileNotFoundError**: Advised on checking file paths and names, and provided a correct URL for the Titanic dataset.
   - **SyntaxError**: Addressed unmatched parentheses and provided guidance on checking and correcting parentheses in code.
   - **AttributeError**: Corrected the typo `bescribe` to `describe`.
   - **KeyError**: Suggested verifying column names and corrected usage of column names.
   - **NameError for 'alive'**: Explained that it could be due to a typo or incorrect reference and provided steps to resolve it.

Feel free to ask if you need more details or further assistance!

In [ ]:
#Chat Log History Chat GPT for PreLecture HW
#https://chatgpt.com/share/41b1b4d2-82d7-43d0-a198-03d4ba307a50

#Chat Log History Chat GPT for PostLecture HW
#https://chatgpt.com/share/66e36698-c9a4-8002-b452-fc1dc37b3dc2